body {
  font-family: sans-serif;
  font-weight: 700;
}

/* Navigation Bar */
.nav-bar {
  width: 100vw;
  /* height: 52.4px; */
  background: rgb(233, 229, 229);
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 85vw; */
  /* height: 52px; */
  border: 1px solid black;
  /* transition: 100ms; */
  transition: all 250ms;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgb(113, 113, 113) 0px 5px;
}
.nav-button:hover {
  background: rgb(191, 191, 191);
  color: white;
  cursor: pointer;
  font-weight: ;
  padding-right: 30px;
  padding-left: 30px;
  transition: all 200ms;
}
.nav-button:active {
  box-shadow: rgb(54, 54, 54) 0px 3px;
  transform: translateY(5px);
  box-shadow: none;
}
.nav-button:not(:first-child) {
  margin-left: 10px;
}

@media only screen and (max-width: 715px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-button:not(:first-child) {
    margin-top: 10px;
    margin-left: auto;
  }
}
