a {
  text-decoration: none;
  color: black;
}
body {
  background: #eeeeee;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
  overflow: auto;
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
  background-color: #d8d2cb;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  top: 0px;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.31);
}
input {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 250ms;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgb(113, 113, 113) -2px 5px;
  margin-right: 10px;
  font-weight: 500;
}

.search-text {
  position: relative;
  left: 74.4px;
  color: rgb(194, 194, 194);
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 250ms;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgb(113, 113, 113) -2px 5px;
}
.nav-button:hover {
  background: rgb(191, 191, 191);
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding-right: 30px;
  padding-left: 30px;
  transition: all 200ms;
}
.nav-button:active {
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.45);
  transform: translateY(5px) translateX(-2px);
  box-shadow: none;
}
.nav-button:not(:first-child) {
  margin-right: 10px;
}
.content-container {
  width: 100%;
  box-sizing: border-box;
}
.image-container {
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-top: 40px;
  flex: 1;
}
.image-container img {
  height: 100%;
}

/* Hero */
.content-container {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
}
.computer-img {
  display: flex;
  width: 50vw;
  padding-bottom: 30px;
}

.header-stuff {
  display: flex;

  align-items: left;
  /* width: 25vw; */
  flex: 1;
}
.header {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  margin-top: 100px;
  font-size: 3rem;
}
.header-text {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25rem;
  line-height: 2rem;
}
/* Testimonial */
.testimonial-container {
  margin-top: 100px;
  background-color: #398ab9;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonial-img {
  width: 40%;
  padding: 30px 30px;
}
.quote-header {
  color: #eeeeee;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.quote {
  color: #eeeeee;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px 30px;
  line-height: 1.75rem;
}
/* Middle */
.middle-container {
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
}

/* Music */
.song-header {
  position: relative;
  top: 20px;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 15px 20px;
}
.music-container {
  color: #eeeeee;
  background-color: #1c658c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.music {
  padding-bottom: 40px;
}
.music:not(:first-child) {
  padding-bottom: 40px;
}

/* Footer */
/* .footer-area {
  background-color: #d8d2cb;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
} */
.footer-box {
  color: coral;
  font-size: 2rem;
  flex-direction: row;
  line-height: 1rem;
}

.footer-text {
  position: relative;
  width: 29%;
  height: 350px;
  display: flex;
  justify-content: center;
  float: left;
  box-sizing: border-box;
  margin: 20px 30px;
  background-color: white;
  border: solid 2px black;
  border-radius: 20px;
}
.footer-text:hover {
  transition: 250ms;
  transform: scale(1.05);
}

a:hover {
  color: rgb(132, 132, 132);
  text-decoration: underline;
}
.list-button {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  line-height: 2.5rem;
  padding: 0px 5rem;
  text-align: center;
}

/* Media */
@media only screen and (max-width: 1408px) {
  .list-button {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .footer-text {
    width: 42%;
    height: 450px;
    font-size: 3rem;
    align-items: center;
  }
}

@media only screen and (max-width: 1357px) {
  ul {
    padding: 0px 0px;
  }
  .nav-bar {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-button:not(:last-child) {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .image-container {
    text-align: center;
    padding-top: 0;
  }
  .computer-img {
    width: 80%;
    display: initial;
    padding-bottom: 0px;
  }
  .content-container {
    flex-direction: column;
  }
  .testimonial-container {
    flex-direction: column;
  }
  .testimonial-img {
    width: 80%;
  }
  .logo-img {
    width: 80%;
  }
  .footer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text {
    width: 95%;
    height: 550px;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .footer-box {
    width: 100%;
    position: relative;
    left: 0px;
  }
  .footer-text {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
